<header class="header-area header-sticky">
    <div class="container center-container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- * Logo Start * -->
                    <a routerLink='/' class="logo">Yummly<em> Food</em></a>
                    <!-- * Logo End * -->
                    <!-- * Menu Start * -->
                    <ul class="nav {{ isDark ? 'dark' : '' }}">
                        <li class="scroll-to-section"><a routerLink="/kitchen" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Kitchen</a>
                        </li>
                        <li class="scroll-to-section"><a routerLink="/community" routerLinkActive="active">Community</a>
                        </li>
                        <li class="scroll-to-section"><a routerLink="/kitchen/recipes/search" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Recipes</a></li>
                        <li class="scroll-to-section"><a routerLink="/kitchen/ingredients/search" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Ingredients</a></li>
                        <li class="scroll-to-section"><a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact</a></li>
                        <li class="scroll-to-section">
                            <div class="switch-wrapper">
                                <!--checkbox -->
                                <input class="checkbox-input" type="checkbox" (click)="setTheme(checkboxInput.checked)" id="toggleTheme" #checkboxInput>
                                <!--day span -->
                                <span class="switch-label day">Light</span>
                                <!--label connected to checkbox -->
                                <label for="toggleTheme" class="switch"></label>
                                <!--night span -->
                                <span class="switch-label night">Dark</span>
                                <!--end of wrappper switch -->
                            </div>

                        </li>
                        <li class="main-button" *ngIf="!isLogged;else other_content"><a routerLink="/community">Sign
                                Up </a>
                        </li>
                        <ng-template #other_content>
                            <div class="dropdown" >
                                <i class="fas fa-user-circle profile-dropdown" (click)="userIconClicked()"></i>
                                <div class="dropdown-content {{isWidthLessThan1200? 'dropdown-content-1200' : ''}}">
                                    <a *ngIf="user" routerLink="/community/profile/{{user._id}}">Profile</a>
                                    <a *ngIf="user" routerLink="/kitchen/recipes/favorite-recipes">Your Recipe Box
                                        <span>{{user.favoriteRecipes.length}}</span></a>
                                    <a *ngIf="user" routerLink="/community/favourites-posts">Favorite Posts
                                        <span>{{user.favoritePosts.length}}</span></a>
                                    <a *ngIf="user" routerLink="/community" (click)="logout()">Logout</a>
                                </div>
                            </div>
                        </ng-template>
                    </ul>
                    <a class='menu-trigger' (click)="menu()">
                        <span>Menu</span>
                    </a>
                    <!-- * Menu End * -->
                </nav>
            </div>
        </div>
    </div>
</header>