<div class="form__conatiner">

    <div>
        <h2 class="color-white">Welcome to admin dashboard</h2>
        <mat-form-field appearance="fill" class="mt-5">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="example@mail.com" [formControl]="email" required #emailInput>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" #passwordInput>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <i class="material-icons">{{hide ? 'visibility_off' : 'visibility'}}</i>
            </button>

        </mat-form-field>
        <button (click)="login(emailInput.value,passwordInput.value)" mat-stroked-button color="primary" class="submit">Submit</button>
    </div>
</div>