/*

Eatery Cafe Template 

http://www.templatemo.com/tm-515-eatery

*/

/*---------------------------------------
   TYPOGRAPHY              
-----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: inherit;
}

h1 {
  color: #252525;
  font-size: 3em;
  line-height: 50px;
}

h2 {
  color: #353535;
  font-size: 2em;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0;
}

h3,
h3 a {
  color: #454545;
}

p {
  color: #757575;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}

/*---------------------------------------
   GENERAL               
-----------------------------------------*/

a {
  color: #252525;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #000000;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  margin: 0;
}

.section-title h4 {
  color: #bfbdbd;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 0;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section {
  position: relative;
  padding: 100px 0;
}

.about-image img {
  width: 100%;
}

.grid-container {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("../../../../../../assets/images/new.png");
  display: grid;
  grid-template-rows: auto auto auto;
  padding: 10px;
}

.grid-item {
  margin-top: 10%;
  padding: 20px;
}

/*---------------------------------------
    HOME              
-----------------------------------------*/

#home {
  padding: 0;
  width: 100%;
  height: 90vh;
  button {
    background-color: #7c3f3f;
    border: #7c3f3f;
    text-align: center;
    color: #ffffff;
    height: 50px;
    width: 200px;
    margin-top: 3%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all 0.4s;
  }
  button:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: scaleX(1.1);
    background-color: #ffffff;
    color: #000000;
  }
}

@media only screen and (min-width: 768px) {
  .slider .col-md-8 {
    padding-left: 0;
  }
}

.slider .caption {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  background-color: rgba(20, 20, 20, 0.2);
  height: 100%;
  color: #fff;
  cursor: e-resize;
  padding: 4em 0 0 2em;
}

.slider .item {
  background-image: url("../../../../../../assets/images/slider-image2.jpeg");
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 90vh;
  width: 100%;
}

@media only screen and (max-width: 760px) {
  .slider .item {
    width: 760px;
  }
}

@media only screen and(max-width: 400px) {
  .slider .item {
    width: 400px;
  }
}

/*---------------------------------------
    ABOUT              
-----------------------------------------*/

#about {
  padding-bottom: 0;
}

.about-info {
  padding: 0 6em 5em 0;
}

.about-info .section-title {
  padding-bottom: 20px;
}

.about-image {
  position: absolute;
}

#about button {
  background-color: #f98169;
  border: #f98169;
  box-shadow: 5px 10px 18px #f98169;
  text-align: center;
  color: #ffffff;
  height: 50px;
  width: 200px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: all 0.4s;
}

#about button:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: scaleX(1.1);
  background-color: #ffffff;
  color: #000000;
}

/*---------------------------------------
    Popular Recipes              
-----------------------------------------*/

#recipes {
  background-color: #ffffff;
  color: #000000;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.recipes-container {
  display: flex !important;
  flex-direction: row;
  width: 100%;
  justify-content: space-around !important;
}

.popular-card img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

#recipes .recipes-container .popular-card .middle button {
  background-color: #f98169;
  border: #f98169;
  box-shadow: 0px 0px 18px #000000;
  text-align: center;
  color: #ffffff;
  height: 30px;
  width: 50px;
  border-radius: 3px;
  display: block;
  align-self: flex-end !important;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: all 0.4s;
}

#recipes .recipes-container .popular-card .middle button:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: scaleX(1.1);
  background-color: #ffffff;
  color: #000000;
}

.recipes-container .popular-card .middle {
  transition: all 0.5s ease;
  opacity: 0;
  display: flex;
  flex-direction: column;
  transform: translate(0%, -130%);
  margin: 0 10px;
}

.popular-card {
  display: flex;
  width: 24%;
  flex-direction: column;
  align-items: flex-end;
}

.recipes-container .popular-card .middle .text {
  color: #ffffff;
  font-size: 14px;
}

.recipes-container .popular-card:hover img {
  filter: brightness(40%);
}

.recipes-container .popular-card:hover .middle {
  opacity: 1;
}

#recipes button {
  background-color: #f98169;
  border: #f98169;
  box-shadow: 5px 10px 18px #f98169;
  text-align: center;
  color: #ffffff;
  height: 50px;
  width: 200px;
  margin-top: 3%;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: all 0.4s;
}

#recipes button:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: scaleX(1.1);
  background-color: #ffffff;
  color: #000000;
}

@media only screen and(max-width: 1165px) {
  #recipes button {
    height: 50px;
    width: 200px;
  }
  .recipes-container .popular-card .middle .text {
    font-size: 18px;
    transform: translateX(-20%);
  }
  .recipes-container .popular-card .middle {
    transform: translate(-15%, -130%);
  }
}

@media only screen and(max-width: 940px) {
  #recipes button {
    height: 50px;
    width: 150px;
  }
  .recipes-container .popular-card .middle .text {
    font-size: 16px;
    transform: translateX(-20%);
  }
  .recipes-container .popular-card .middle {
    transform: translate(-10%, -130%);
  }
}

@media only screen and(max-width: 800px) {
  #recipes button {
    height: 50px;
    width: 200px;
  }
  .recipes-container .popular-card .middle .text {
    font-size: 14px;
    transform: translateX(-20%);
  }
  .recipes-container .popular-card .middle {
    transform: translate(-3%, -130%);
  }
}

@media only screen and(max-width: 500px) {
  #recipes button {
    height: 50px;
    width: 200px;
  }
}

@media only screen and (max-width: 990px) {
  #about {
    margin: 30% 0 30% 0;
  }
}
