/*
-------------- Basic Reset Css ----------
 */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@300;400;500;600;700&display=swap");
@import "./style/animate.scss";
@import "./style/magnific-popup.scss";
@import "./style/templatemo-style.scss";
@import "./style/style.scss";
@import "../../../../../../node_modules/font-awesome/scss/font-awesome.scss";

/* -------- ----------- */

.ingredient-container {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.dark {
    background-image: linear-gradient( to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url() !important;
}

.wrapper {
    --background: white;
    --width: 20px;
    --height: 20px;
    --border-radius: var(--height);
    width: var(--width);
    height: var(--height);
    position: relative;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    .btn {
        background: var(--background);
        width: 20px;
        height: 20px;
        position: relative;
        z-index: 3;
        border-radius: var(--border-radius);
        display: flex;
        justify-content: center;
        align-items: center;
        animation: plus-animation-reverse 0.5s ease-out forwards;
    }
    .tooltip {
        width: 250px;
        height: 110px;
        background-color: rgba(105, 105, 105, 0.7);
        color: white;
        text-shadow: 0px 0px 10px black;
        border-radius: 20px;
        position: absolute;
        font-size: 14px;
        z-index: 2;
        padding: 0 15px;
        margin-left: 200px;
        opacity: 0;
        top: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        transition: opacity 0.15s ease-in, top 0.15s ease-in, width 0.15s ease-in;
    }
    input {
        // height: 100%;
        // width: 100%;
        border-radius: var(--border-radius);
        cursor: pointer;
        position: absolute;
        z-index: 5;
        opacity: 0;
        &:checked {
            ~.btn {
                animation: plus-animation 0.5s ease-out forwards;
            }
            ~.tooltip {
                width: 250px;
                height: 110px;
                animation: stretch-animation 1s ease-out forwards 0.15s;
                top: -130px;
                opacity: 1;
            }
        }
    }
}

.button-container {
    width: 30%;
    //default button
    .btn {
        color: rgb(255, 255, 255);
        cursor: pointer;
        display: block;
        font-size: 16px;
        font-weight: 400;
        line-height: 45px;
        margin-left: auto;
        margin-bottom: 20px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;
        &:hover {
            text-decoration: none;
        }
    }
    /////////////////////////////////
    //button one
    ///////////////////////////////
    .btn-1 {
        background: transparent;
        font-weight: 100;
        svg {
            height: 45px;
            left: 0;
            border-radius: 20px;
            position: absolute;
            margin-left: auto;
            top: 0;
            width: 100%;
        }
        rect {
            fill: none;
            stroke: rgb(255, 255, 255);
            stroke-width: 2;
            stroke-dasharray: 422, 0;
            transition: all 0.35s linear;
        }
    }
    .btn-1:hover {
        background: transparent;
        font-weight: 900;
        letter-spacing: 1px;
        rect {
            stroke-width: 5;
            stroke-dasharray: 15, 310;
            stroke-dashoffset: 48;
            transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
        }
    }
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&display=swap');
//     font-family: 'Fira Sans', sans-serif;
.ingredients__container {
    font-family: 'Nunito', sans-serif;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // background-color: rgb(0, 0, 0);
    width: 90%;
    height: 100%;
    margin: 0 auto;
    .ingredient__title {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        font-size: 2rem;
        color: white;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        em {
            color: #000000;
            text-transform: uppercase;
        }
    }
}

.popup {
    transition: all 0.4s;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    visibility: hidden;
    transform: scaleX(0);
    .popup__content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 95%;
        height: 85vh;
        transform: translate(-50%, -50%);
        background-color: rgb(39, 39, 39);
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .image__container {
            height: 100%;
            width: 40%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .ingredient__details {
            justify-self: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            h3 {
                color: white;
                text-align: center;
                font-size: 3rem;
            }
            .recipe-details {
                &-item {
                    width: 20%;
                }
                .title {
                    color: white;
                }
            }
        }
        .close {
            color: white;
            background-color: rgb(37, 37, 37);
            width: fit-content;
            height: fit-content;
            border-radius: 50%;
            padding: 10px;
            transition: all 0.4s;
            position: absolute;
            top: 10px;
            right: 10px;
            &:hover {
                background-color: black;
            }
        }
    }
}

.show {
    visibility: visible;
    opacity: 1;
    transition: all 0.4s;
    transform: scaleX(1);
}

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@300;400;500;600;700&display=swap');
:root {
    --headlinesFont: 'Jost', sans-serif;
    --bodyFont: 'Work Sans', sans-serif;
    --wildWatermelon: #f98169;
    --fuelYellow: #f0a035;
    --textColor: #323232;
    --bodyBg: #d6d6d6;
    --white: #fff;
    --black: #000;
}

img {
    vertical-align: text-bottom;
}

a {
    text-decoration: none;
}

.ft-recipe {
    width: 30%;
    height: fit-content;
    background: var(--white);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.1607843137254902);
    overflow: hidden;
    .ft-recipe__thumb {
        position: relative;
        height: 210px;
        overflow: hidden;
        box-shadow: 0px 0px 130px 0 rgba(0, 0, 0, 0.38);
        #close-modal {
            position: absolute;
            top: 0;
            right: 0;
            width: 36px;
            height: 36px;
            background: #000;
            color: var(--white);
            text-align: center;
            line-height: 36px;
            font-size: 22px;
            cursor: pointer;
            z-index: 1;
            transition: all 200ms ease;
            &:hover {
                background: transparent;
                color: var(--black);
            }
        }
        h3 {
            text-align: center;
            position: absolute;
            margin: 0;
            width: 100%;
            color: var(--white);
            font-family: var(--headlinesFont);
            font-size: 25px;
            height: 100%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent);
            padding: 2.4rem 0 0;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
    .ft-recipe__content {
        flex: 1;
        padding: 0 2em 1em;
        .content__header {
            .row-wrapper {
                display: flex;
                padding: .55em 0 .3em;
                border-bottom: 1px solid #d8d8d8;
                .recipe-title {
                    font-family: var(--headlinesFont);
                    font-weight: 600;
                    margin: 0 auto;
                }
                .user-rating {}
            }
        }
        .description {
            margin: .3em 0 1.8em;
        }
        .content__footer {
            text-align: center;
            margin: 1rem auto 0 auto;
            a {
                font-family: var(--headlinesFont);
                display: inline-block;
                background-color: #f98169;
                padding: .45em 1em;
                width: 50%;
                text-align: center;
                border-radius: 5px;
                color: rgb(255, 255, 255);
                font-weight: 500;
                letter-spacing: .2px;
                font-size: 17px;
                transition: transform 250ms ease, box-shadow 250ms ease;
                cursor: pointer;
                &:hover {
                    transform: translateY(-3px);
                    box-shadow: 0 10px 34px 0 rgba(255, 79, 135, 0.32);
                }
            }
        }
    }
}

.recipe-details {
    display: flex;
    list-style: none;
    padding: 1.4em 0 1em;
    margin: 0;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    // @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Jost:wght@300&display=swap');
    .recipe-details-item {
        // font-family: 'Akaya Telivigala', cursive;
        // font-family: 'Architects Daughter', cursive;
        // font-family: 'Patrick Hand', cursive;
        // font-family: 'Ubuntu Mono', monospace;
        font-family: 'Jost', sans-serif;
        width: 50%;
        i {
            margin-right: 7px;
            line-height: 2;
            font-size: 17px;
            color: #f98169;
        }
        .value {
            color: #f98169;
            // margin-left: .35em;
            vertical-align: bottom;
            font: {
                size: 24px;
                weight: 600;
            }
        }
        .title {
            font-family: 'Gloria Hallelujah', cursive;
            display: block;
            margin-top: -4px;
            font-size: 18px;
            font-weight: 300;
        }
    }
}