mat-spinner {
    margin: 30% auto;
}

.example-header-image {
    background-size: cover;
}

.example-header-image img {
    width: 100%;
    height: 100%;
}

mat-card-header {
    position: relative;
}

mat-card-header::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 90%;
    left: 5%;
    margin-bottom: 10px;
}

mat-card-title {
    color: black;
}

mat-card-content {
    font-size: 25px;
}